numpy<2.0
schedule
pandas==1.5.2
requests
urllib3<2.0
python-telegram-bot==13.5
matplotlib
seaborn
ordered-set
ta-lib==0.4.32
sqlalchemy==1.4.39
alembic==1.13.1
quantstats==0.0.59
scikit-learn==1.2.2
prettytable==3.6.0
python-dateutil==2.8.2
mplfinance
fastapi
uvicorn
anthropic
python-dotenv
mcp

